In [151]:
# Import Data
import pandas as pd
import numpy as np
dataFrame = pd.read_excel("CRP2021_raw_data.xlsx")
# Delete 2nd row (question)
data = dataFrame.drop([0])
print(data)

    Q1a Q1b Q1c Q1d Q1e Q1f Q1g Q1h Q1i Q1j  ... Q64e Q64f Q64g Q64h Q64i  \
1     1   0   1   1   0   1   0   1   1   1  ...   -3   -3   -3   -3   -3
2     0   0   0   1   0   1   1   1   1   0  ...    0    0    0    0    0
3     0   0   1   1   1   1   0   1   1   0  ...   -2   -2   -2   -2   -2
4     1   1   1   1   1   1   0   1   0   0  ...    0    0    0    0    0
5     1   1   1   1   1   1   1   1   1   1  ...    0    0    0    0    0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...
196   1   1   0   1   1   1   1   1   1   0  ...   -2   -2   -2   -2   -2
197   1   1   1   0   1   1   0   1   1   0  ...   -2   -2   -2   -2   -2
198   1   0   0   0   1   1   1   1   1   1  ...    0    0    0    1    1
199   1   1   1   1   1   1   0   1   1   1  ...    1    0    1    1    0
200   0   1   1   1   1   0   0   0   1   0  ...    0    0    1    0    0

    Q64j Q64k Q64l          Q64l_text  \
1     -3   -3   -3                 -3
2      0    0    1  In a few years...
3     -2   -2   -2                 -2
4      0    0    0                 -2
5      0    0    0                 -2
..   ...  ...  ...                ...
196   -2   -2   -2                 -2
197   -2   -2   -2                 -2
198    0    1    0                 -2
199    0    0    0                 -2
200    0    0    0                 -2

                                                   Q65
1                                                   -3
2                                                   -2
3    It is not a specific individual interest I hol...
4                                                   -2
5                                                   -2
..                                                 ...
196                     I am busy with other projects.
197                       Unproductive time investment
198                                                 -2
199                                                 -2
200                                                 -2

[200 rows x 269 columns]

In [152]:
# remove qualitative data (save NLP for later if time)
# Replace negative numbers with null values
# Replace negative numbers with null values
# Parse all data as numbers
# Parse all data as numbers
data = data.drop(columns=["Q10_11_text", "Q11_9_text", "Q12l_text", "Q13_6_text", "Q17_7_text", "Q19g_text", "Q67_7_text", "Q21g_text", "Q23h_text", "Q24a", "Q24b", "Q24c", "Q24d", "Q26k_text", "Q27a", "Q27b", "Q27c", "Q27d", "Q29h_text", "Q30a", "Q30b", "Q30c", "Q30d", "Q32j_text", "Q33a", "Q33b", "Q33c", "Q33d", "Q40a", "Q43h_text", "Q44a", "Q44b", "Q46l_text", "Q47a", "Q47b", "Q50a", "Q50b", "Q50c", "Q50d", "Q51a", "Q51b", "Q51c", "Q51d", "Q52", "Q53", "Q53", "Q55l_text", "Q56", "Q58_2_text", "Q59l_text", "Q60", "Q62l_text", "Q64l_text", "Q65"])

In [159]:
# Parse all data as numbers
for column in data.columns:
    data[column] = pd.to_numeric(data[column])
# Replace negative numbers with null values
data.clip(lower=0)

,Q1a,Q1b,Q1c,Q1d,Q1e,Q1f,Q1g,Q1h,Q1i,Q1j,...,Q64c,Q64d,Q64e,Q64f,Q64g,Q64h,Q64i,Q64j,Q64k,Q64l
1,1,0,1,1,0,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,1,1,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,1,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,1,1,0,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
197,1,1,1,0,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
198,1,0,0,0,1,1,1,1,1,1,...,1,0,0,0,0,1,1,0,1,0
199,1,1,1,1,1,1,0,1,1,1,...,0,1,1,0,1,1,0,0,0,0
200,0,1,1,1,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [154]:
# Ensure all booleans are mapped the same way (some are 0/1 others are 1/2)

In [155]:
# replace booleans with pandas booleans

In [156]:
# Flatten multi-select columns into one CSV column

In [157]:
# relate discrete data with survey answers